<!-- Modal -->
<div class="modal fade" id="Permission" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
     <form [formGroup]="permissionForm" (ngSubmit)="Permssion()"  >
        <div class="modal-body text-center">
            <div>
            <label class="p-3">Permission Type</label>
            <select (change)="switchPermission($event)" name="PTybe" id="PTybe" formControlName="type">
                <option value="machinePermission">Stop Machine Permission</option>
                <option value="taskPermission">Transfer Task Permission</option>
              </select>
            </div>
            <hr>
              <div *ngIf="machinePermission" class="machinePermissionDiv">
                <label class="p-2">Machine Name</label>
                <select  name="reason" id="reason" formControlName="permissionItemId" >
                    <option *ngFor="let i of machines" [value]="i.id+'/'+i.name">{{i.name}}</option>
                </select>
                <label class="p-2">Reason</label>
                <select  name="reason" id="reason" formControlName="reason" >
                    <option value="Break">Break</option>
                    <option value="Maintenance">Maintenance</option>
                    <option value="shift ending">Shift Ending</option>
                  </select>
                  <label class="p-3">Duration</label>
                  <input type="number" placeholder="Permission Duration" formControlName="duration">
             </div>
              <div  *ngIf="taskPermission" class="taskPermissionDiv">
                <label class="p-2">Task Name</label>
                <select  name="reason" id="reason" formControlName="permissionItemId" >
                    <option *ngFor="let i of tasksRight" [value]="i.id">{{i.orderTypeName}}</option>
                  </select>   
                  <label class="p-2">Reason</label>
                  <select  name="reason" id="reason" formControlName="reason" >
                      <option value="Task Finished">Task Finished</option>
                      <option value="Task Moving">Task Moving</option>
                    </select>         
                
              </div>

        </div>
         <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>

     </form>
      </div>
    </div>
  </div>

<!------------------------------------->


<section>
    <div class="row">
      <div class="col-md-2 left-side-bar">
          <div>
              <h4> Title : {{taskDetails.orderTypeName}}</h4>
              <p>Duration : {{taskDetails.duration}}</p>
          </div>
      </div>
      <div class="col-md-8">
      <div class="mt-5">
          <div class=" col-md-12 d-flex justify-content-center mb-3"><button class="btn btn-primary "  data-bs-toggle="modal" data-bs-target="#Permission" > Request Permission <i class="fa-solid fa-right-left"></i></button></div>
                  <div class="row justify-content-center">
                      <div class="col-md-4 px-21 mt-2" *ngFor="let i of machines">
                          <div class="card " style="width: 100%;">
                              <div class="card-header justify-content-center">
                                  <div class="row ">
                                      <div class="col-md-6 ">{{i.id}}</div> 
                                      <div class=" col-md-6 d-flex justify-content-end">
                                          <div class="form-check form-switch mx-auto" *ngIf="userPrivlage[0].machineCheckBox=='true'">
                                              <input class="form-check-input" type="checkbox"
                                                  (change)="startStop($event,tasks[i.id][0].id)" role="switch"
                                                  id="flexSwitchCheckChecked" [checked]="i.status=='true'" />
                                          </div>
                                          <button type="button" class="btn btn-danger deltBtn mx-1" (click)="deleteMachine(i.id)" *ngIf="userPrivlage[0].machineCheckBox=='true'">Delete</button>
                                      </div>
                                  </div>
                              </div>
                              <ul style="height: 250px;border:solid 1px #000;overflow-y: scroll;" class="list-group list-group-flush scrollbar" id="{{i.id}}" cdkDropList [cdkDropListConnectedTo]="machineIds" (cdkDropListDropped)="onDrop($event,i.status)" [cdkDropListData]="tasks[i.id]" >
                                  <li class="list-group-item" cdkDrag class="drag-item" [cdkDragDisabled]="i.status=='false'||userPrivlage[0].taskCheckBox=='false'" *ngFor="let j of tasks[i.id]" (click)="viewTask(j.id)">
                                      <div class="row">
                                      <div class="col-md-6">Task {{j.id}}</div>  <div class="col-md-6 d-flex justify-content-end"><button type="button" class="btn btn-danger deltBtn" (click)="deleteTask(j.id)">Delete</button></div>
                                      <p *ngIf="i.status=='true'">{{counters[j.id]}}</p>
                                      </div>
                                  </li>
                              </ul>
                          </div>
                      </div>
              
                  </div>
          </div>
      </div>
      <div class="col-md-2 right-side-bar">
          
      </div>
  </div>
</section>